.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80vmin;
  margin: 0 auto;
  background: #403D58;
}

h1, h3 {
  text-align: center;
  margin: 0;
  padding: 20px;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
}

h3 {
  color: #FF934F;
}

.game-over {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: all 1s ease-in-out;
  opacity: 0;
  background: white;
}

.visible {
  opacity: 1;
  z-index: 1000;
}

.invisible {
  opacity: 0;
  z-index: -1000;
}

.board {
  display: grid;
  width: 80vmin;
  height: 80vmin;
  margin: 0 auto 20px;
  transition: all 0.2s;
}

.piece {
  box-sizing: border-box;
  border: 1px solid #FF934F;
  transition: all 0.2s;
}

.active {
  background-color: #66d7d1;
}

.passive {
  background-color: #403d58;
}

.passive:active {
  cursor: pointer;
  background-color: rgba(64, 61, 88, 0.7);
}

@media (hover: hover) {
  .passive:hover {
    background-color: rgba(64, 61, 88, 0.7);
    cursor: pointer;
  }
}

.failed {
  background-color: #cc2936;
}
