@keyframes load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h1 {
  text-align: center;
}
.board {
  display: grid;
  width: 80vmin;
  height: 80vmin;
  margin: 20px auto;
}

.piece {
  box-sizing: border-box;
  border: 1px solid white;
  transition: all 0.2s;
}

.active {
  background-color: #66d7d1;
}

.passive {
  background-color: #403d58;
}

.passive:active {
  cursor: pointer;
  background-color: rgba(64, 61, 88, 0.7);
}

@media (hover: hover) {
  .passive:hover {
    background-color: rgba(64, 61, 88, 0.7);
    cursor: pointer;
  }
}

.failed {
  background-color: #cc2936;
}
